body {
  padding: 0;
  margin: 0;
  background-color: black;
  color: white;
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 768px) {
  .display {
    display: none;
  }
}

.footer-wrap {
  display: flex;
  justify-content: space-around;
}
